@import "libs";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// albums grid
@import "pages/albums";

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

.grid {
  display: grid;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.img-left {
  float: left;
}

#container-btn{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 999;

  .floating-button {
    display: block;
    background-color: red;
    color: white;
    font-size: 25pt;
    text-align: center;
    border-radius: 50%;
    
    a {
      text-decoration: none;
    }
  }
  .floating-button:hover {
    background-color: rgba(250, 84, 84, 0.733);

  }
}



