@import "libs";

@import "variables";

// media layout
@import "media";

body {
    background-color: $body-bg;
    font-family: 'Open Sans Condensed', sans-serif;
    max-width: 1200px;
    min-width: 374px;
    margin: 0 auto;
}

.grid {
    display: grid;
    // justify-content: center;
}

header {
    padding: 40px 0px 10px 0px;
    text-align: center;
}

// навигация
nav ul, li {
    display: inline-block;
    padding: 7px;
}

nav a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 18pt;
}

nav a:hover{
    color: $color-purple;
}

.custom_logo {
    text-align: center;
    margin: 0 auto;
}

main {
    grid-template-columns: repeat(auto-fit, 350px);
    grid-template-rows: 260px;
    grid-gap: 20px;
    grid-auto-flow: row;

    margin: 0px auto 30px;
    background-color: $body-bg;
    justify-content: center;
}

main > a > img {
    width: 350px;
    height: 260px;
}

main > a {
    width: 350px;
    height: 260px;
    position: relative;
    text-decoration: none;
}
 main > a:hover {
    color: $color-purple;
    background-color: $color-purple;
    z-index: 1;
    opacity: 0.8;
 }

 main > a > span {
     max-width: 340px;
     display: none;
     padding: 5px; 
     font-size: 16pt;
     text-overflow: ellipsis;
     white-space: nowrap; 
     overflow: hidden;
     color: white;
     background-color: $color-purple;
     top: 80%;
     left: 0;
 }
 
 main > a:hover > span {
     display: inline;
     position: absolute;
 }

 footer {
     min-height: 50px;
    //  border-radius: 10px 10px 0 0;
    //  margin: 10px;
     padding: 30px;
    //  background-color: #d0d0f5;
 }

 footer > .wrapper {
    color: black;
    text-align: center;
 }

