@import "libs";

@import "variables";

// media layout
@import "media";

body {
    background-color: $body-bg;
    font-family: 'Open Sans Condensed', sans-serif;
}

.grid {
    display: grid;
    // justify-content: center;
}

header {
    padding: 30px;
    text-align: center;
}

// навигация
nav ul, li {
    display: inline-block;
    padding: 7px;
}

nav a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 18pt;
}

nav a:hover{
    color: #9999d9;
}

.custom_logo {
    text-align: center;
    margin: 0 auto;
}

main {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 3px;
    grid-auto-flow: row;
    background-color: $body-bg;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    justify-content: center;
    position: relative;
}
 main > a:hover {
    color: #9999d9;
    //  background-color: #9999d9;
    z-index: 1;
    opacity:0.8;
 }

 main > a {
    position: relative;
    text-align: left;
    text-decoration: none;
 }

 main > a > span {
     display: none;
 }
 
 main > a:hover > span {
     display: block;
     position: absolute;
     max-width: 90%;
     white-space: nowrap; 
     overflow: hidden;
     text-overflow: ellipsis;
     padding: 10px; 
     color: white;
     background-color: #9999d9;
     font-size: 16pt;
     left: 0;
     top: 70%;
 }

