@import "libs";
@import "variables";
@import "media";

body {
    background-color: $body-bg;
    font-family: 'Open Sans Condensed', sans-serif;
    max-width: 1200px;
    min-width: 374px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

header {
    padding: 40px 0px 10px 0px;
    text-align: center;
    .custom_logo {
        // text-align: center;
        margin: 0 auto;
    }
}

// навигация
nav ul, li {
    display: inline-block;
    padding: 7px;
    a {
        text-decoration: none;
        color: #7a7a7a;
        font-size: 18pt;
        &:hover{
            color: $color-purple;
        }
    }
}

@import "albums/albums";
@import "blog/blog";
@import "about/about";

 footer {
     min-height: 50px;
     padding: 30px;
 }

 footer > .wrapper, a {
    color: rgb(189, 188, 188);
    text-align: center;
 }

